# dotbot
[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty

# dotbot plugins
[submodule "dotbot-plugins/omnipkg"]
	path = dotbot-plugins/omnipkg
	url = https://github.com/code-maniac/dotbot-omnipkg
